<div class="container-fluid" id="main">
  <!-- <div class="row"> -->
    <div id="mySidenav" class="sidenav">
      <a class="closebtn" (click)="closeNav()" style="cursor: pointer;">&times;</a>
      <a class="pl-0" href="http://www.vnmn.ac.vn/">
        <!-- <img id="MDB-logo" src="https://d30y9cdsu7xlg0.cloudfront.net/png/3129-200.png" style="width: 25px; color: white" alt="Bảo tàng thiên nhiên Việt Nam"> -->
        <i class="fa fa-cog" aria-hidden="true"></i>
        Bảo tàng
    </a>
        <div class="panel-search">
            <a class="" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Tìm kiếm theo địa điểm
            </a>
        </div>
        <div class="collapse" id="collapse1">
            <form (click)="searchSample()">
                <input type="text" placeholder="Tìm kiếm" name="" [(ngModel)]="tenVietNam" class="input-form-search">
            </form>
        </div>

        <div class="panel-search">
            <a class="" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Tìm kiếm theo tên di sản
            </a>
        </div>
        <div class="collapse" id="collapse2">
            <form (click)="searchSample()">
                <input type="text" placeholder="Nhập địa điểm" name="" [(ngModel)]="tenVietNam" class="input-form-search">
            </form>
        </div>

        <div class="panel-search">
            <a class="" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Vẽ Polygon
            </a>
        </div>
        <div class="collapse" id="collapse3">
            <form (click)="searchSample()">
                <input type="text" placeholder="Nhập tên" name="" [(ngModel)]="tenVietNam" class="input-form-search">
            </form>
        </div>
    </div>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2d4c93;">
        <!-- Navbar brand -->
        <a class="navbar-brand" style="cursor: pointer; color: white;" (click)="openNav()"> &#9776;</a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Trang chủ
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <!-- Dropdown -->
                <li class="btn-group">
                    <a class=" nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">Chức năng</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Test dropdown</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Test dropdown</a>
                    </div>
                </li>
            </ul>
            <!-- Links -->
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Nhập nội dung..." aria-label="Search">
            </form>
        </div>
        <!-- Collapsible content -->
    </nav>
    <div class="conatainer" style="padding: 15px 15px; min-height: 500px;">
        <div class="row">
                <app-map-home style="width: 100% !important;"></app-map-home>
        </div>
    </div>
    <!--Main Layout-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12  btn-success" style="padding: 10px 10px 0px 10px;" id="menuBottom">
                <ul class="list-inline">
                    <li class="list-inline-item"><a style="color:#fff;margin-right:10px;" href="BTTNVN.vn/page/thu-ngo-9">Hợp tác quốc tế</a></li>
                    <li class="list-inline-item"><a style="color:#fff;margin-right:10px;" href="BTTNVN.vn/page/gioi-thieu-3">Giới thiệu</a></li>
                    <li class="list-inline-item"><a style="color:#fff;margin-right:10px;" href="BTTNVN.vn/lien-he">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-lg-12" style="background: #fff;">
                <div class="col-lg-6" style="background: #fff; padding: 10px;" id="info_company">
                    <b><br>Phòng Bảo tồn</b>
                    <br>Địa chỉ:
                    <br>Điện thoại:
                    <br>Email:
                </div>
            </div>
        </div>
    </div>
    <div id="div-gpt-ad" style="width:1px;height:1px"></div>
  <!-- </div> -->
<div>
